<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>detalhe-pais</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">detalhe-pais</ion-title>
    </ion-toolbar>
  </ion-header>


  <ion-row class="ion-justify-content-center">
    <ng-container *ngFor="let pais of this.paises">
        <ion-col size="12" size-lg="4">
            <ion-item lines="none">
                <ion-thumbnail slot="start">
                    <img src="{{ pais.flags.png }}">
                </ion-thumbnail>
                <ion-label>
                    <h2>{{pais.name.common }}</h2>
                    <h3>{{pais.name.official }}</h3>
                </ion-label>
            </ion-item>
            <ion-item lines="none">
                <ion-label>
                  <h3>Capital:&nbsp;{{pais.capital}}</h3>
                  <h3>População:&nbsp;{{pais.population}}</h3>
                  <h3>Idiomas:&nbsp;{{pais.languages.value}}</h3>
                  <h3>Área:&nbsp;{{pais.area}}</h3>
                  <h3>Região:&nbsp;{{pais.region}}</h3>
                  <h3>Sub-região:&nbsp;{{pais.subregion}}</h3>
                  <ng-container *ngFor="let pais of this.paises">
                    <ion-col>
                      <h2><b>Fusos Horários do País</b></h2>
                        <ion-label>
                          <h2>{{pais.timezones}}</h2>
                      </ion-label>
                    </ion-col>
                  </ng-container>

                  <ng-container *ngFor="let pais of this.paises">
                    <ion-col>
                      <h2><b>Este País é independente ?</b></h2>
                        <ion-label>
                          <h2  *ngIf="pais.independent">{{pais.name.common}} é independente</h2>
                          <h2  *ngIf="!pais.independent">{{pais.name.common}} não é independente</h2>
                      </ion-label>
                    </ion-col>
                  </ng-container>
                  <ng-container *ngFor="let pais of this.paises">
                    <ion-col>
                      <h2><b>Veja mais sobre os países que fazem fronteira</b></h2>
                        <ion-label>
                          <p>{{pais.borders}}</p>
                      </ion-label>
                    </ion-col>
                  </ng-container>
                </ion-label>
            </ion-item>
        </ion-col>

    </ng-container>

    <ion-row class="ion-justify-content-center">

    </ion-row>

</ion-row>

</ion-content>
