<ion-content [fullscreen]="true">

  <ion-row class="ion-justify-content-center">
    <ion-col size="6">


      <ion-row class="">
        <ion-col size="4">
          <img class="foto-perfil" src="{{this.perfil.foto}}">
        </ion-col>
        <ion-col class="ion-text-start" size="8">
          <ion-card>
            <h3>{{this.perfil.nome}}</h3>
            <h3>{{this.perfil.social}}</h3>
            <h3>{{this.perfil.idioma}}</h3>
            <h3>{{this.perfil.cidade}}</h3>
            <h3>{{this.perfil.tempo}}</h3>
          </ion-card>
        </ion-col>
      </ion-row>

      <ion-row>
        <h1>Biografia</h1>
      </ion-row>

      <ion-row>
        <ion-col size="12">
          {{this.biografia.bio}}
        </ion-col>
      </ion-row>

      <ion-row>
        <ion-col size="12">
          <ion-item-divider></ion-item-divider>
        </ion-col>
      </ion-row>


      <ion-row>
       <ion-row>
        <ng-container *ngFor="let metrica of this.social.metricas">
          <ion-item>
            <ion-label>
              
              {{metrica.texto}}
              {{metrica.valor}}
            </ion-label>
          </ion-item>
        </ng-container>
       </ion-row>
      </ion-row>

      <ion-row>
        <ion-col size="12">
          <ion-item-divider></ion-item-divider>
        </ion-col>
      </ion-row>

      <ion-row>
        <h1>Postagens de Amigos</h1>
      </ion-row>


    </ion-col>
  </ion-row>
</ion-content>