<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Blank
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">

<ino-row>
  <ion-col size="12" size-lg="8" size-lg="6">
    
    <!-- cabecalho -->
    <ino-row>
      <ion-col size="12" size-lg="4">
        <img src="" class="foto-perfil">
      </ion-col>
      <ion-col size="12" size-lg="8">
        <h2 class="titulo-nome">Rodrigo Santos Fonseca</h2>
        <h3 class="titulo-funcao">Programador HTML & CSS</h3>
      </ion-col>
    </ino-row>




  </ion-col>
</ino-row>

</ion-content>